<%- include('_analytics-body') %>
<%
var define = (typeof define === 'undefined') ? '' : define;
var meta = (typeof meta === 'undefined') ? '' : meta;
%>

<header class="l-header">
  <h1><%= siteSetting.siteName %></h1>
  <nav>
    <ul>
      <li>
        <a href="<%= siteurl %>">HOME</a>
      </li>
    </ul>
  </nav>
</header>
